body{
  background-color: #1c262f;
}

#sidebar {
  max-width: 21vw;  
}


#toggle_logo {
  width:30px;
  height:30px;
}
#lametro_logo{
  width: 30px;
  height: 30px;
}

.ham {
  background-color: white;
  padding: 2px;
}

.hr {
  /*#02b3e4*/
    border-top: 3px solid white ;
    margin-bottom: 5px;
    width: 20vw;
}

#map {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}


h2 {
  color: white;
  margin-top: 10px;
  margin-left: 1vw;

}


.adjustment {
  width: 20vw;
  padding: 2px;
  font-size: 0.9rem;

}


.btn-yes {
  padding: 10px;
  margin-top: 3px;
  color: #FFFFFF;
  width: 20vw;
}

.infowindow {
  margin-right:3px;
  color:white;
}

#button-801 {
  background-color:#004dac;

}

#button-802 {

  background-color:#ee3a43;
}
#button-803 {

  background-color:#2eab00;
}
#button-804 {

  background-color:#da7c20;
}
#button-805 {

  background-color:#9561a9;
}
#button-806 {

  background-color:#0177a5;
}